:root {
    --color-fondo-grdt: linear-gradient(to bottom left, rgba(100, 32, 131, 0.5), rgba(36, 62, 139, 0.8));
    --fondo-img: url(../img/pexels-negative-space-48606.jpg);
    --color-actual: rgba(17, 47, 219, 0.692);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%; 
    background-image: var(--fondo-img);
    background-position: top left ;
}

body{
    background: var(--color-fondo-grdt);
    width: 100vw;
    height: 100vh;
    padding-top: 3rem ;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: rgb(47, 30, 87);
}

.header-nav{
    width: 100%;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#actual{
    color: var(--color-actual);
    border-bottom: 1px solid var(--color-actual);
}

.header-nav--item{
    display: inline-block;
    list-style: none;
    padding: .6rem;
}

.header-nav, .main, .footer-info{
    padding: 0 3vw;
}

main{
    display: block;
    height: 90%;
}

.main{
    height: 100%;
}

.principal{
    width: 100%;  
    height: 100%; 
    padding: .2rem;
}

.principal-page{
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 0;
    right: 0;
}

.principal-page--name{
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Franklin Gothic Heavy';
    text-align: center;
    font-size: 8rem;
}

.principal-page--subname{
    color: #718FC8;
    font-family: 'Front Page News';
    text-align: center;
    font-size: 3rem;
}

.principal-page--login{
    color: #ff085a;
    font-family: 'Front Page News';
    text-align: center;
    font-size: 5rem;
    border: 1;
}

.footer-info{
    position: static;
    padding-top: 2px;
    clear: both;
}

.footer-info--text{
    color: rgba(255, 255, 255, 0.7);
    text-align: end;
    font-family: monospace;
    font-size: 1.2rem;
}
