
input, select{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    margin-top: 2.6rem;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.registro-text{
    font-family: 'Arial Narrow Bold', sans-serif;
    
}

.titulo{
    font-size: 1.6rem;
    text-align: center;
}

.label{
    font-size: 1.2rem;
    text-align: left;
}

.contenedor{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.registro-form{
    display: inline-flex;
    width: 100%;
}
.padding{
    width: 100%;
    padding: 10px;
}

.registro {
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f280;
    padding: 20px;
}
